<%= form_for([@contact, @reminder]) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :what_is_the_occasion? %><br> <!--dropdown menu to select birthday, job anniversary, holiday, just reaching out, wedding anniversary, etc. -->
    <%= f.select(:occasion, options_for_select([['Birthday', 'Birthday'], ['Holiday', 'Holiday'], ['Job Anniversary', 'Job Anniversary'], ['Wedding Anniversary', 'Wedding Anniversary'], ['Just Reaching Out', 'Just Reaching Out']]))  %>
  </div>
  <div class="field">
    <%= f.label :when_do_you_want_to_be_reminded? %> <br>
    <%= f.date_select(:date, :order => [:month, :day, :year]) %><!-- one field to enter a number, another dropdown menu to pick weeks/months/year-->
  </div>
  <div class="field">
    <%= f.label :recurring? %> <br><!--dropdown menu to select birthday, job anniversary, holiday, just reaching out, wedding anniversary, etc. -->
    <%= f.select(:recurring, options_for_select([['Not recurring', 'Not recurring'],['1 month', '1 month'], ['3 months', '3 months'], ['6 months', '6 months'], ['1 year', '1 year']])) %>
  </div>


  <!--there used to be comment here showing how to do a drop down menu with text or email preference selection -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
