<p id="notice"><%= notice %></p>

<h1>Listing Reminders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


    <% @reminders.each do |reminder| %>
        <%= reminder.occasion %><br>
        <%= link_to 'Show', contact_reminder_path(@contact, reminder) %>
        <%= link_to 'Edit', edit_contact_reminder_path(@contact, reminder) %>
        <%= link_to 'Destroy', contact_reminder_path(@contact, reminder), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</table>

<br>

<%= link_to 'New Reminder', new_contact_reminder_path(@contact, @reminder) %>
