<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NetworkMe</title>

    <!-- Bootstrap Core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    -->
    <!-- Custom CSS 
    <link href="css/business-casual.css" rel="stylesheet">
    -->


    <!-- Fonts -->
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- <p id="notice"><%= notice %></p> -->
<% if user_signed_in? %>

<div class = "center-block" id="boxLogin">
  <p style="font-size:30px"> Contact List: <p> 
    <% @contacts = current_user.contacts %>
      <% @contacts.each do |contact| %>
        <div class="link row clearfix">
          <h4 style="margin-left:20px; font-style: normal; font-size: 20px">
            <%= link_to contact.name, contact_path(contact.id) %>  <br>
            <div style = "margin-left:-10px; font-style: serif">
            <%= link_to "Delete", contact_path(contact.id), :method => :delete, :class => "btn"%> 
            <%= link_to 'Edit', edit_contact_path(contact.id), :class => "btn" %> 
            </div>


           <!-- <small class="author">Submitted <%= time_ago_in_words(contact.created_at) %></small> -->
          </h4>
        </div>

         <!-- <div class="btn-group">
             <%#= link_to contact_path(contact), method: :put, class: "btn btn-default btn-sm" do %> This was putting update button on index. not needed IMO.  
          </div> -->

      <%# end %>
    <% end %>
    <br>
    <button class= 'btn-default'> <%= link_to "New Contact", new_contact_path %> </button>
    </div>


  </html>


  <!--
  <h2 class = text-center> Welcome to NetworkTool! </h1> 
  <h4 class = text-center> This is a service that helps you keep in touch with friends, family, and coworkers. </h2>
  <h5 class = text-center> Please sign up (or sign in) above! </h5> -->

<% end %>


