<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>
<!--- 
Things we need when browser calls app:

1) First check if user is already logged in, if not route to registration page (sign_up_path)
2) If logged in, take to a page with contacts listed and a sign out button. Also, a button to add contacts.
3) After that, 
-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Email</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.user_id %></td>
        <td><%= contact.email %></td>
        <td><%= contact.information %></td>
        <td><%= link_to 'Show', contact %></td>
        <% if contact.user == current_user %>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> 
<% end %>


<%= link_to 'New Contact', new_contact_path %>
