<div id="boxDisplayContacts">

<div class="page-header">
  <!--<h1><a href="<%= @contact.name %>"> -->
  <h3><%= @contact.name %></a><br> </h3>
</div>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Information:</strong>
  <%= @contact.information %>
</p>

<p>
 <strong>Scheduled Reminders:</strong>
 <br>
 <% @contact.reminders.each do |r| %>
  <!-- <%= link_to contact_reminder_path(@contact, r), r.occasion %> -->
  <%= link_to r.occasion, contact_reminder_path(@contact, r) %> <br>
  <!-- contact_reminder GET    /contacts/:contact_id/reminders/:id(.:format)      reminders#show -->
 <% end %>
</p>


<div>
	<%= button_to "Want to set a reminder?", new_contact_reminder_path(@contact), :class => "button", :method => :get %>
</div>
<br>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
