<div class="page-header">
  <h1><a href="<%= @contact.name %>"><%= @contact.name %></a><br> </h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Information:</strong>
  <%= @contact.information %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
