<div class="page-header">
  <h1><a href="<%= @contact.name %>"><%= @contact.name %></a><br> </h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Information:</strong>
  <%= @contact.information %>
</p>

<div>
	<button> Want an email/text reminder about contacting <%= @contact.name %>? </button> <!-- needs to be a put method to reminders_path -->
	<%= button_to "Want", reminders_path, :class => "button", :method => :post  %>
	
</div>
<br>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
