<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <!-- There used to be a category for name here, didnt think it was necessary-->

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number %> (In the form: 123456789)
      <%= f.text_field :phone_number, autofocus: true, class: "form-control", required: true %> <!-- might be able to do validations here -->
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>